@media screen and (min-width: 480px) {
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
  }

  .navigation {
    display: flex;
    column-gap: 34px;
    list-style: none;
  }

  .navigation-item {
    position: relative;
  }

  .navigation-item.active::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--brand-color);
    bottom: -23px;
    left: 0;
  }

  .navigation-link {
    font-size: 16px;
    text-decoration: none;
    color: var(--navi-blue-color);
    font-weight: var(--title-font-weight);
    line-height: 1.5;
    padding: 0 6px;
    transition: color var(--animation-duration)
      var(--transition-timing-function);
  }

  .navigation-link:hover {
    color: var(--slate-color);
  }

  .navigation-link:focus {
    color: var(--brand-color);
  }

  .navigation-item.active .navigation-link {
    color: var(--brand-color);
  }

  header .contacts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    list-style: none;
  }

  header .contacts-link {
    font-size: 12px;
    text-decoration: none;
    color: var(--slate-color);
    line-height: calc(16 / 12);
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: color var(--animation-duration)
      var(--transition-timing-function);
  }

  header .contacts-link:hover,
  header .contacts-link:focus {
    color: var(--brand-color);
  }

  header .contacts-icon {
    fill: var(--slate-color);
    transition: fill var(--animation-duration) var(--transition-timing-function);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20px * 0.7);
    display: flex;
    justify-content: center;
  }

  header .contacts-icon svg.email {
    width: calc(20px * 0.7);
    height: calc(18px * 0.7);
  }

  header .contacts-icon svg.phone {
    width: calc(18px * 0.6);
    height: calc(18px * 0.6);
  }

  header .contacts-link:hover .contacts-icon svg,
  header .contacts-link:focus .contacts-icon svg {
    fill: var(--brand-color);
  }

  .menu-hamburger {
    display: none;
  }

  h1 {
    margin-bottom: 40px;
  }

  .features-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .features-item {
    flex-basis: calc(100% / 2 - (24px * 1 / 2));
    margin-bottom: 0;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 56px;
    max-width: 600px;
  }

  .our-team-member {
    margin-bottom: 0;
  }

  .customers-list {
    column-gap: 24px;
    max-width: 600px;
  }

  .customers-list-item {
    flex-basis: calc(100% / 3 - (24px * 2 / 3));
    max-width: 168px;
  }

  footer .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    max-width: calc(550px + 16px * 2);
  }

  .footer-block {
    margin-bottom: 0;
    flex-basis: calc(100% / 2 - (24px * 1 / 2));
  }

  .footer-block:last-child {
    flex-grow: 2;
  }

  .footer-newsletter {
    flex-direction: row;
    column-gap: 24px;
  }

  footer .logo {
    display: block;
  }

  footer .footer-text {
    margin: 0;
  }

  .footer-block-title {
    text-align: left;
  }

  .footer-socials {
    justify-content: flex-start;
  }

  .footer-newsletter input[name="email"] {
    max-width: 264px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --main-padding: 20px;
  }

  h1 {
    font-size: 50px;
    line-height: calc(60 / 56);
    margin-bottom: 50px;
  }

  .container {
    width: var(--main-content-width);
    max-width: 100%;
    margin-inline: auto;
  }

  .section {
    padding-block: 120px;
  }

  .header-container {
    justify-content: flex-start;
    column-gap: 76px;
  }

  header .contacts {
    flex-direction: row;
    column-gap: 40px;
    margin-left: auto;
  }

  header .contacts-link {
    font-size: 16px;
  }

  header .contacts-icon svg.email {
    width: 20px;
    height: 18px;
  }

  header .contacts-icon svg.phone {
    width: 18px;
    height: 18px;
  }

  .top-block {
    padding-block: 192px;
  }

  .features-item {
    flex-basis: calc(100% / 4 - (24px * 3 / 4));
  }

  .features-icon {
    width: 100%;
    height: 112px;
    background-color: var(--cloud-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .features-title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }

  /* Our services */
  .our-services {
    padding-bottom: 120px;
  }

  .our-services-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    font-weight: var(--title-font-weight);
    color: var(--navi-blue-color);
    margin-bottom: 70px;
    text-align: center;
  }

  .our-services-list {
    display: flex;
    column-gap: 24px;
    list-style: none;
  }

  .our-services-item {
    border: 1px solid var(--cornflower-color);
  }

  .our-services-product {
    width: 100%;
    display: block;
  }

  /* Our team */
  .our-team-list {
    max-width: 100%;
  }

  .our-team-member {
    margin-bottom: 0;
  }

  /* Customers */

  .customers-list {
    max-width: 100%;
  }

  .customers-list-item {
    flex-basis: calc(100% / 6 - (24px * 5 / 6));
    max-width: inherit;
  }

  /* Page footer */

  footer {
    padding-block: 100px;
  }

  footer .logo {
    display: block;
  }

  .footer-block {
    flex-basis: inherit;
  }

  .footer-block:last-child {
    flex-grow: 0;
  }

  footer .footer-block:nth-child(2) {
    margin-left: 120px;
  }

  footer .footer-block:nth-child(3) {
    margin-left: 80px;
  }

  footer .container {
    justify-content: flex-start;
    max-width: inherit;
    flex-wrap: nowrap;
    column-gap: 0;
  }

  footer .footer-text {
    margin: 0;
    width: 100%;
  }

  .footer-block-title {
    text-align: left;
  }

  .footer-newsletter {
    column-gap: 24px;
    align-items: flex-start;
  }

  .footer-newsletter input[name="email"] {
    width: 264px;
  }
}
